Node red/ESP8266 NodeRed.txt
[{"id":"fab5440.6ce50c","type":"tab","label":"ESP8266 MQTT"},{"id":"faa477fc.52b4c8","type":"mqtt in","z":"fab5440.6ce50c","name":"","topic":"event","qos":"2","broker":"e831e97d.9c2728","x":216,"y":142,"wires":[["ac0f88b3.643d78"]]},{"id":"3fee8245.a6584e","type":"mqtt out","z":"fab5440.6ce50c","name":"","topic":"event","qos":"1","retain":"false","broker":"e831e97d.9c2728","x":391,"y":323,"wires":[]},{"id":"153c5784.2cd988","type":"ui_button","z":"fab5440.6ce50c","name":"","group":"e711f8ea.a9a1d8","order":0,"width":0,"height":0,"label":"On led","color":"white","icon":"fa-circle","payload":"1","payloadType":"num","topic":"","x":217,"y":299,"wires":[["3fee8245.a6584e"]]},{"id":"b79dca8e.5fdb88","type":"ui_button","z":"fab5440.6ce50c","name":"","group":"e711f8ea.a9a1d8","order":0,"width":0,"height":0,"label":"Off led","color":"black","icon":"fa-circle-o","payload":"0","payloadType":"num","topic":"","x":213,"y":342,"wires":[["3fee8245.a6584e"]]},{"id":"ac0f88b3.643d78","type":"ui_text","z":"fab5440.6ce50c","group":"e711f8ea.a9a1d8","order":0,"width":0,"height":0,"name":"","label":"out","format":"{{msg.payload}}","layout":"col-center","x":419,"y":142,"wires":[]},{"id":"e831e97d.9c2728","type":"mqtt-broker","z":"","broker":"192.168.0.19","port":"1883","clientid":"TEST","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e711f8ea.a9a1d8","type":"ui_group","z":"","name":"Control led ESP8266","tab":"9f8fbb0c.03d908","order":1,"disp":true,"width":"6"},{"id":"9f8fbb0c.03d908","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]